body{
    background-image: url(./Elementos/Alerta.jpg);
}
h1{
    font-weight: 500;
    font-style: normal;
    font-size: 60 px;
    text-align: center;
    color: darkorange;
}
h2{
    font-weight: 350;
    font-style: normal;
    font-size: 45 px;
    text-align: center;
    color: rgb(200, 255, 0);
}
p{
    font-weight: 100;
    font-style: normal;
    font-size: 30 px;
    text-align: center;
    color: rgba(196, 131, 53, 0.945);
    background-color: rgb(9, 78, 58);
}